{% extends 'base.html' %}

{% block content %}
<div class="usearch-container">
    <form class="search-form" method="POST" action="{{ url_for('users') }}">
        <input class="search-input" type="text" name="search" placeholder="Search for users">
        <button class="search-button" type="submit">Search</button>
    </form>
</div>

<table>
    <tbody class="userlist">
        {% for user in users %}
        <tr>
            <td>
                <a href="{{ url_for('mylist', name=user[0]) }}">
                    {{ user[0] }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}