<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div class="content-container">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">

        <div class="signlinks">
            {% if current_user.is_authenticated %}
                <a href="/logout" class="logout-link">Logout</a>
            {% else %}
                <a href="/signup" class="signup-link">Sign Up</a>
                <a href="/login" class="login-link">Login</a>
            {% endif %}
        </div>
    </div>


    <div class="navbar-container">
        {% include 'navbar.html' %}
    </div>
    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
</html>
