{% extends 'base.html' %}

{% block content %}

<div class="topt-container">
    <h1>{{name}}'s List</h1>

    <div class="list-table">
        {% for row in rows %}
        <a href="{{ url_for('train_view', name=row[column_with_train_name_index]) }}" class="list-item">
            <img class="list-image" src="/static/{{ row[column_with_image_index] }}" alt="Image">
            <div class="information">
                <h2>{{ row[column_with_train_name_index] }}</h2>
            </div>
            <div class="rating-container">
                <div class="rating-square" id="indicator_{{loop.index0}}">
                    <span class="rating-score">{{row[rating_index]}}</span>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="/static/{{ row[column_with_image_index] }}" alt="Image">
            </div>
        
    </a>
    {% endfor %}
</div>
    
</div>

<script>
    // Retrieve all the rating containers
    var ratingContainers = document.getElementsByClassName('rating-square');

    // Loop through each rating container
    for (var i = 0; i < ratingContainers.length; i++) {
        // Get the rating value
        var rating = parseFloat(ratingContainers[i].querySelector('.rating-score').textContent);

        // Calculate the color value based on the rating
        var colorValue = 1-(rating) / 5; // Normalize the rating to a value between 0 and 1

        // Calculate the HSL values based on the colorValue
        var hue = (1 - colorValue) * 100; // Ranges from 0 to 60
        var saturation = 60; // Adjust the saturation value as desired
        var lightness = 60; // Adjust the lightness value as desired

        // Convert HSL to RGB
        var rgb = hslToRgb(hue, saturation, lightness);

        // Set the background color as the calculated RGB value
        ratingContainers[i].style.backgroundColor = 'rgb(' + rgb[0] + ', ' + rgb[1] + ', ' + rgb[2] + ')';
    }

    // Function to convert HSL to RGB
    function hslToRgb(h, s, l) {
        h /= 360;
        s /= 100;
        l /= 100;
        var r, g, b;
    
        if (s === 0) {
            r = g = b = l; // achromatic
        } else {
            var hueToRgb = function hueToRgb(p, q, t) {
                if (t < 0) t += 1;
                if (t > 1) t -= 1;
                if (t < 1 / 6) return p + (q - p) * 6 * t;
                if (t < 1 / 2) return q;
                if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                return p;
            };
    
            var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
            var p = 2 * l - q;
    
            r = hueToRgb(p, q, h + 1 / 3);
            g = hueToRgb(p, q, h);
            b = hueToRgb(p, q, h - 1 / 3);
        }
    
        return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
    }

</script>


{% endblock %}
