<!DOCTYPE html>
<html>
<head>
    <title>Train Listing</title>
    <!-- Add your CSS stylesheets and other static files here -->
</head>
<body>
    <h1>Train Listing</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Departure</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            {% for train in trains %}
                <tr>
                    <td>{{ train[0] }}</td>
                    <td>{{ train[1] }}</td>
                    <td>{{ train[2] }}</td>
                    <td>{{ train[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>
